
.fa-facebook,.fa-twitter,.fa-instagram,.fa-phone{
	color: yellow;
	align-items: center !important;
padding-left:  10px;
}
i{
  margin-right: 20px !important;
  letter-spacing: 3px;
  align-items: center !important;

}

.container-fluid,.navbar{
	background-color: black;
	

}
.navbar-light,.container-fluid,.navbar-bg-light{
	margin-right: 5px !important;

}
.navbar-brand,.nav-item{
	color: white;
	
   font-size: 20px !important;
   font-weight: bold;
   font-family: arial;
   padding-left:10px;
  padding-right:10px;
}
#book{
	background-color: black !important;
}
.submenu{
	color: white !important;
	
	align-content: center !important;
}
#logo{
	margin-left:20px !important;
	align-content: right;
}
.card-text{
	color: black;
	margin-top: 250px;
	font-weight: bold;
	font-size: 50px;
 text-align: center;
 font-weight: bold;
}
h5{
	margin-top: auto !important;
	color: white;
}
.card-title{
	text-align: center;
	font-size: 30px;
	border-style: solid;
	border-radius: 2px;
	border-width: 2px;
	margin-top: 50px !important;
	
	color: black;
	font-family: verdana;
}

.nav-link{
font-family: verdana;
   text-align: center !important;
 color: white !important;
 border-style: solid;
 border-radius: 1px !important;
 border-color: yellow;
 border-spacing: 5px !important;
 border-width: 1px;
 

}
a:hover{
	
	background-color: grey;
	
}
